<head><link href="../css/design-system.css" rel="stylesheet"/></head><div class="top-bar bg-[#654321] text-white py-2 text-sm">
<div class="container mx-auto px-4 flex flex-wrap justify-between items-center gap-2">
<div class="top-bar-info">
<span><i class="fas fa-map-marker-alt"></i> Serving Bahia, Brazil</span>
<span class="mx-3">|</span>
<span>📧 info@immigratetobrazil.com</span>
<span class="mx-3">|</span>
<span><i class="fas fa-mobile-alt"></i> +55 (XX) XXXX-XXXX</span>
</div>
<div class="top-bar-links">
<a class="hover:underline" href="faq.html">FAQ</a>
<span class="mx-2">|</span>
<a class="hover:underline" href="blog.html">Blog</a>
<span class="mx-2">|</span>
<a class="hover:underline" href="resources.html">Resources</a>
</div>
</div>
</div>
<body><div id="header-placeholder"></div><div id="footer-placeholder"></div><script src="../js/design-system.js"></script><script src="../js/partials-loader.js"></script><script src="../js/main.js"></script></body>